/factory_practice/nbproject/private/
/Patron Factory/factory_practice/nbproject/private/
/Abstract Factory/abstract_factory_practice/nbproject/private/
/Abstract Factory/abstract_factory_practice/build/
/Prototype_Singleton/Practica_Prototype/build/
/Factory Method/Factory Method/build/
/Prototype_Singleton/Practica_Prototype/nbproject/private/
